.bicicletas-bg{
  background-image: linear-gradient(to right, var(--cor-0) 25%, var(--cor-11) 0%);
} 

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-img img{
  width: 100%;
  border-radius: none;
  grid-area: 1/1;
}

.bicicletas-img{
  display: grid;
  position: relative;
}

.bicicletas-img span{
  background-color: var(--cor-11);
  padding: 10px 20px 10px 10px;
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  border-radius: 5px 0px 0px 5px;
}

.bicicletas ul{
 display: grid;
 gap: 5px;
}

.bicicletas li{
  display: flex;
  gap: 8px;
  align-items: center;
}

.bicicletas-conteudo{
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: flex-start;
  align-content: flex-start;
}

.bicicletas-conteudo img{
  width: 24px;
}

.bicicletas p,h2{
  grid-column: 1/-1;
}

.bicicletas h2{
  margin-bottom: 20px;
}

.bicicletas p{
  margin-bottom: 20px;
}

.bicicletas a{
  place-self: end;
}

.bicicletas h2::before{
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
}

@media (max-width: 800px) {
  .bicicletas{
    grid-template-columns: 1fr;
  }

  .bicicletas-bg{
    background: var(--cor-11);
  } 
  
}

@media (max-width: 600px) {
  .bicicletas-conteudo{
    grid-template-columns: 1fr;
  }

  .bicicletas-conteudo a{
    place-self: start;
    margin-top: 20px;
  }

  .bicicletas-img span{
    padding: 8px;
    font-size: 0.800rem;
    margin-top: 10px;
    
  }

  .bicicletas-conteudo li{
    font-size: 0.900rem;
  }
}