:root {
  --cor-0: #ffff;
  --cor-1: #efefef;
  --cor-2: #dcdcdc;
  --cor-3: #bdbdbd;
  --cor-4: #989898;
  --cor-5: #7c7c7c;
  --cor-6: #656565;
  --cor-7: #525252;
  --cor-8: #464646;
  --cor-9: #3d3d3d;
  --cor-10: #292929;
  --cor-11: #000000;
  --cor-p1: #080283;
}

.cor-0 {
  color: var(--cor-0);
}

.cor-0-bg{
  background-color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5{
  color: var(--cor-5);
}

.cor-6{
  color: var(--cor-6);
}

.cor-7{
  color: var(--cor-7);
}

.cor-8{
  color: var(--cor-8);
}

.cor-9{
  color: var(--cor-9);
}

.cor-10{
  color: var(--cor-10);
}

.cor-11{
  color: #000000;
}

.cor-11-bg{
  background-color: var(--cor-11);
}